# @see https://devcenter.heroku.com/articles/getting-started-with-django#requirements-txt
# Django==1.7c1
https://www.djangoproject.com/download/1.7c1/tarball/
dj-database-url==0.3.0
# dj-static==0.0.5 is not compatible with Django 1.7
-e git+git://github.com/kennethreitz/dj-static.git#egg=dj-static
gunicorn==19.0.0
psycopg2==2.5.3

# @see http://mysociety.github.io/sayit/install/#installing-sayit-as-a-django-app
# -e git+git://github.com/mysociety/sayit.git#egg=django-sayit
-e git+git://github.com/jpmckinney/sayit.git@hotfix#egg=django-sayit

# Akoma Ntoso importer
python-dateutil==2.2
lxml==3.3.5

# Popolo importer
requests==2.3.0
