# @see https://devcenter.heroku.com/articles/getting-started-with-django#requirements-txt
Django==1.7
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.0.0
psycopg2==2.5.3

# @see https://devcenter.heroku.com/articles/memcachier#django
# @see https://github.com/rdegges/django-heroku-memcacheify

# pylibmc doesn't build in Python 3.4, possibly due to http://bugs.python.org/issue21121
# CFLAGS="-std=c99" can be used to avoid the error locally, but not on Heroku.
pylibmc==1.4.0
# django-pylibmc==0.5.0 is not compatible with Python 3
-e git+git://github.com/django-pylibmc/django-pylibmc.git#egg=django-pylibmc
django-heroku-memcacheify==0.7

-e git+git://github.com/mysociety/sayit.git#egg=django-sayit
twitter==1.15.0

# Akoma Ntoso importer
boto==2.32.1
lxml==3.3.5
python-dateutil==2.2

# Popolo importer
requests==2.3.0

newrelic==2.28.0.26
