/*
blue   #359ebb
yellow #fee373
grey   #58585b
green  #8cc63e
*/

a,
.pagination li a {
  color: #359ebb;
}
a:hover,
a:focus,
.pagination li a:hover,
.pagination li a:focus {
  color: #1f7187; /* HSB: same hue, +5% saturation, -20% brightness */
}

.list-inline {
  margin-left: 0;
  margin-bottom: 0;
}
.list-inline li {
  width: 25%;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  font-weight: bold;
}

.form-inline-always {
  margin-bottom: 20px;
}
.form-inline-always .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline-always .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline-always #q {
  width: 250px;
}
@media (min-width: 768px) {
  .form-inline-always #q {
    width: 400px;
  }
}

.push-down {
  margin-top: 40px;
}

/* Layout */

.navbar {
  border: none;
  margin-bottom: 0;
}
.navbar-brand {
  color: #58585b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:hover {
  background-color: #eee;
  border-color: #eee;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #333;
}
.navbar-form {
  border: none;
}
@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-form {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    padding-right: 0;
  }
  .navbar-form {
    padding-left: 0;
  }
}

/* Make it always inline */
.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.jumbotron {
  margin-bottom: 20px;
  padding: 40px 0;
  background-color: #fee373;
}
.jumbotron h1 {
  margin-bottom: 0;
  color: #000;
  font-size: 257.142857%; /* 36px */
  text-align: center;
}

.breadcrumb {
  margin-bottom: 40px;
  border-radius: 0;
  background-color: #fee373;
}
.breadcrumb > li + li:before {
  color: #a7a9ac; /* CMYK: 40% K */
}
.breadcrumb .active {
  color: #58585b;
}

footer {
  margin-top: 40px;
  color: #58585b;
  text-align: center;
}

/* Home */

.home {
  text-align: center;
}
.home p {
  margin-top: 20px;
}
.home p.latest {
  margin-top: 40px;
}
.home form {
  margin-top: 40px;
}
.home .btn-default {
  background-color: #fee373; /* #428bca */
  border-color: #f0d360; /* +5 saturation, -5 brightness #357ebd */
}
.home .btn-default:hover,
.home .btn-default:focus,
.home .btn-default:active {
  background-color: #f0d360; /* +5 saturation, -5 brightness #3071a9 +5 saturation, -13 brightness */
  border-color: #d6bc56; /* +5 saturation, -15 brightness #285e8e +5 saturation, -23 brightness */
}
@media (min-width: 768px) {
  #q {
    width: 400px;
  }
}

/* Speaker detail */

/* http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout */
.avatar {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 100%;
  border: 2px solid #eee;
  background-color: #eee;
  background-position: 0% 17%;
  background-repeat: no-repeat;
  background-size: 100% auto; /* not same as background-cover */
}
.avatar.avatar-sm {
  width: 50%;
  padding-top: 50%;
}

figure {
  max-width: 150px;
  margin-bottom: 20px;
}
figure img {
  width: 100%;
}
figcaption {
  color: #58585b;
  font-size: 11px;
  text-align: center;
}

.contact a {
  font-weight: bold;
}

p.memberships { /* span is styled differently */
  font-size: 24px;
  font-weight: 300;
}

/* Pagination */

.pagination .active span,
.pagination .active span:hover,
.pagination .active span:focus {
  background-color: #359ebb;
  border-color: #359ebb;
}
.pagination .disabled span,
.pagination .disabled span:hover,
.pagination .disabled span:focus,
.pagination .ellipsis span,
.pagination .ellipsis span:hover,
.pagination .ellipsis span:focus {
  color: #58585b;
}
.pagination .ellipsis span:hover,
.pagination .ellipsis span:focus {
  background-color: transparent;
}

/* Section detail */

.col-meta {
  font-size: 12px;
}
.heading-level-1,
.heading-level-2,
.heading-level-3 {
  color: #58585b;
}
.heading-level-1 {
  font-weight: bold;
}

/* display: table makes sure the left border are always the full-height of the row */
.speeches {
  display: table;
  border-collapse: collapse;
  margin-left: -15px;
  margin-right: -15px;
}
.row-speech {
  display: table-row;
  margin: 0; /* table-row ignores negative margins anyway */
}
.row-speech,
.col-speech-with-border {
  border-top: 1px solid #ccc;
}
.col-speech-with-border:nth-of-type(2) {
  border-top: none;
  padding-top: 0;
}
.col-speech-with-border:last-of-type {
  padding-bottom: 0;
}
.col-meta,
.col-speech {
  float: none;
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
}
.col-speech p:last-child {
  margin-bottom: 0;
}
.speeches .row-speech:last-of-type .col-speech {
  padding-bottom: 0;
}
/* .col-md-8 doesn't work with table-cell */
@media (min-width: 992px) {
  .col-speech {
    padding-right: 16.66666667%;;
  }
}

.person .col-speech {
  border-left: 5px solid #8cc63e;
}
.government .col-speech {
  border-left: 5px solid #359ebb;
}
.role .col-speech {
  border-left: 5px solid #eee;
}
.narrative {
  background-color: #f5f5f5;
}

/* Speech */

.image {
  float: left;
  width: 67px;
  margin-right: 10px;
}
.from {
  font-weight: bold;
}

.swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #eee;
}
.liberal {
  background-color: #d01e28;
}
.ndp {
  background-color: #f36f21;
}
.pc {
  background-color: #00477f;
}

span.memberships { /* p is styled differently */
  color: #58585b;
  font-weight: normal;
}

.title {
  font-weight: bold;
}
.date {
  color: #58585b;
}

.person .speech,
.role .speech {
  font-family: Georgia,Times,'Times New Roman',serif;
}
.role .from,
.role .speech {
  color: #666;
}

.actions {
  z-index: 300;
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  padding-right: 15px;
  background-color: #fff;
}
.actions a {
  display: inline-block;
  position: relative;
  padding-left: 1em;
}
.row-speech:hover .actions,
.row-speech:focus .actions,
.row-speech *:hover .actions,
.row-speech *:focus .actions {
  display: block;
}

/* Bill list */

table {
  width: 100%;
}
th {
  padding: 0 10px 10px 0;
  border-bottom: 1px solid #58585b;
  white-space: nowrap;
}
td {
  padding: 10px 10px 10px 0;
  border-top: 1px solid #eee;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
th .glyphicon-chevron-down {
  display: none;
}
th .glyphicon-chevron-up {
  display: none;
}
th.headerSortDown .glyphicon-chevron-down {
  display: inline;
}
th.headerSortUp .glyphicon-chevron-up {
  display: inline;
}
.modified {
  white-space: nowrap;
}

/* Bill detail */

@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 220px;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 240px;
  }
}

/* Search */

.highlighted em {
  background-color: #fee373;
  font-weight: normal;
  font-style: normal;
}

/* Common */

h1,
h2 {
  margin-top: 0;
}
h1 {
  margin-bottom: 40px;
}
h2,
header p.title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
header p.subtitle {
  font-size: 17px;
  font-weight: bold;
}
p {
  margin-bottom: 20px;
}
blockquote {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  border: none;
  font-size: 1em;
}
