{% extends 'speeches/base.html' %}
{% load url from future %}
{% load legislature_extras pagination highlight %}

{% block title %}Search{% if query %}: {{ query }}{% endif %}{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}
{% long_paginator as pagination %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>Search</h1>

      <form action="{% url 'legislature:haystack_search' %}" method="get" class="form-inline form-inline-always" role="form">
        <div class="form-group">
          <label class="sr-only" for="q">Enter a bill, keyword or name</label>
          <input name="q" id="q" type="search" class="form-control" placeholder="Enter a bill, keyword or name" value="{% if form.q.value %}{{ form.q.value }}{% endif %}">
        </div>
        <button type="submit" class="btn btn-default">
          <span class="hidden-xs">Search</span>
          <span class="visible-xs-inline">
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </button>
{% if form.speaker %}
        <div class="checkbox">
          <label>
            <input type="checkbox" name="p" value="{{ form.p.value }}" checked>
            Search only speeches by
            <a href="{% url 'legislature:speaker-view' form.speaker.slug %}">{{ form.speaker }}</a>
          </label>
        </div>
{% endif %}
      </form>
    </div>
  </div>

{% if query %}
  {% if speaker_results %}
  <div class="row push-down">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h2>Speakers</h2>
      <ul class="list-inline">
        {% for result in speaker_results %}<li>
          <a href="{% url 'legislature:speaker-view' result.object.slug %}">
            <div class="avatar avatar-sm"{% if result.object.image %} style="background-image: url({{ result.object.image }})"{% endif %}></div>
          </a>
          <a href="{% url 'legislature:speaker-view' result.object.slug %}" class="highlighted">
            {% highlight result.text with query css_class "" html_tag "em" max_length 400 %}
          </a>
        </li>{% endfor %}
        </ul>
    </div>
  </div>
  {% endif %}

  {% if page.object_list %}
  <div class="row push-down">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h2>Speeches</h2>
      <p class="controls">
        Results <strong>{{ page.start_index }}–{{ page.end_index }}</strong> of <strong>{{ paginator.count }}</strong>

        <span class="order">
          Sort by
    {% if request.GET.sort == "newest" %}
          <a href="{% url 'legislature:haystack_search' %}?q={{ form.q.value }}{% if form.speaker %}&amp;p={{ form.p.value }}{% endif %}">
            relevance
          </a>
          or
          <span class="active">newest first</span>
    {% else %}
          <span class="active">relevance</span>
          or
          <a href="{% url 'legislature:haystack_search' %}?q={{ form.q.value }}{% if form.speaker %}&amp;p={{ form.p.value }}{% endif %}&amp;sort=newest">
            newest first
          </a>
    {% endif %}
        </span>
      </p>
    </div>
  </div>

  <div class="speeches">
    {% for result in page.object_list %}
    <div class="row row-speech {{ result.object|speech_class }}">
      <div class="col-sm-10 col-speech col-sm-offset-2" id="s{{ result.object.id }}">
{% include 'speeches/speech.html' with speech=result.object with_context=1 %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="row push-down">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h2>No speeches found</h2>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
{{ pagination }}
    </div>
  </div>
{% endif %}
</div>
{% endblock %}
