{% load url from future %}
{% load speech_utils %}

<li class="section-signpost section-signpost--as-search-result">
  <ul class="breadcrumbs">
{% for n in section.get_ancestors %}
  {% if n.id != section.id %}
    {% if n.parent_id %}
    <li>{{ n.title }}</li>
    {% else %}
    <li><a href="{% url 'legislature:section-view' n.slug %}">{{ n.title }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
  </ul>
{% if section.parent_id %}
  {{ highlight|striptags_highlight }}
{% else %}
  <a href="{% url 'legislature:section-view' section.slug %}">{{ highlight|striptags_highlight }}</a>
{% endif %}
</li>
