{% load url from future %}
{% load legislature_extras %}

<ol class="breadcrumb">
  <li><a href="{% url 'legislature:home' %}">Home</a></li>
{% if section %}
  <li><a href="{% url 'legislature:section-list' %}">Debates</a></li>
  <li><a href="{% url 'legislature:section-list-by-year' year=section.start_date.year %}">{{ section.start_date.year }}</a></li>
  <li><a href="{% url 'legislature:section-list-by-month' year=section.start_date.year month=section.start_date.month %}">{{ section.start_date.month|month_name }}</a></li>
  <li class="active">{{ section.title }}</li>
{% elif month %}
  <li><a href="{% url 'legislature:section-list' %}">Debates</a></li>
  <li><a href="{% url 'legislature:section-list-by-year' year=month.year %}">{{ month.year }}</a></li>
  <li class="active">{{ month.month|month_name }}</li>
{% elif year %}
  <li><a href="{% url 'legislature:section-list' %}">Debates</a></li>
  <li class="active">{{ year.year }}</li>
{% elif title %}
  <li class="active">{{ title }}</li>
{% elif speaker %}
  <li><a href="{% url 'legislature:speaker-list' %}">People</a></li>
  <li class="active">{{ speaker.name|person_name }}</li>
{% elif speaker_list %}
  <li class="active">People</li>
{% else %}
  <li class="active">Debates</li>
{% endif %}
</ol>
