{% extends 'speeches/base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="page-content__row">
  <div class="homepage-search">
    <h2>{% block instance_search_title %}{% trans 'Search speeches and statements' %}{% endblock %}</h2>
    <form class="site-search site-search--homepage" action="{% url "speeches:haystack_search" %}" method="get" >
      <div class="search-wrapper">
        <input type="search" class="site-search__input" placeholder="{% trans 'Search' %}" name="q"/>
        <input type="submit" class="icon-search icon-search" value="{% trans 'Search' %}"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
