{% extends 'speeches/base.html' %}
{% load url from future %}

{% block title %}Debates of {{ section.start_date|date:"F jS, Y" }}{% endblock %}

{% block content %}
{% include "speeches/_breadcrumbs.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <h1>Debates of {{ section.start_date|date:"F jS, Y" }}</h1>

      <p>House of Assembly Hansard {{ section.number }} of the {{ section.legislature }}, {{ section.session }}. (The <a href="{{ section.source_url }}">original version</a> is on the legislature's site.)</p>
    </div>
  </div>

{% for speech in speeches %}
  <div class="row">
    <div class="col-xs-2">
  {% if speech.section.parent.parent %}
      <div class="heading-level-1">{{ speech.section.parent.title }}</div>
      <div class="heading-level-2">{{ speech.section.title }}</div>
  {% elif speech.section.parent %}
      <div class="heading-level-1">{{ speech.section.title }}</div>
  {% endif %}
    </div>
    <div class="col-xs-10" id="s{{ node.id }}" class="{% if node.speaker %}{% else %}{% endif %}"{% if node.speaker.colour %} style="border-left-color: #{{ node.speaker.colour }};"{% endif %}>
{% include "speeches/speech.html" with speech=speech nosection="1" section=section noli=1 %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
