{% load firstof url from future %}
{% load legislature_extras staticfiles highlight speech_utils %}

{% if full %}
  {% if speech.speaker_display %}
    {% if speech.speaker.image %}
<div class="image">
  <a href="{% url 'legislature:speaker-view' speech.speaker.slug %}">
    <div class="avatar" style="background-image: url({{ speech.speaker.image }})"></div>
  </a>
</div>
    {% endif %}
<p class="from">
    {% if speech.speaker_id %}
  <a href="{% url 'legislature:speaker-view' speech.speaker.slug %}">{{ speech|speech_speaker }}</a>
      {% if speech.speaker.memberships.all %}
  <span class="swatch {{ speech.speaker|speaker_party_class }}"></span>
  <span class="memberships">{{ speech.speaker|speaker_description }}</span>
      {% endif %}
    {% else %}
  {{ speech|speech_speaker }}
    {% endif %}
</p>
  {% endif %}
{% else %}
<p class="context">
  <span class="title">
    <a href="{{ speech.section|single_page_hansard_url }}#s{{ speech.id }}">{% if speech.title or speech.section.parent_id %}{% firstof speech.title|heading speech.section.title|heading %}{% else %}Debates{% endif %}</a>
  </span>
  on
  <span class="date">
    <a href="{{ speech.section|hansard_url }}">{{ speech.section.start_date|date:"F jS, Y" }}</a>
  </span>
  {% if query %}
    {% if speech.speaker_display %}
  by
  <span class="from">
      {% if speech.speaker_id %}
    <a href="{% url 'legislature:speaker-view' speech.speaker.slug %}">{{ speech|speech_speaker }}</a>
      {% else %}
    {{ speech|speech_speaker }}
      {% endif %}
  </span>
    {% endif %}
  {% endif %}
</p>
{% endif %}
 
<div class="speech">
{% if query %}
  <div class="highlighted">
{% highlight result.text with query css_class "" html_tag "em" max_length 400 %}
  </div>
{% elif truncate %}
  <div class="truncated">
{{ speech.text|bleach|truncatewords_html:"50" }}
  </div>
{% else %}
{{ speech.text|bleach }}
{% endif %}
</div>

{% if full and speech.speaker_display %}
<div class="actions">
  <a href="#s{{ speech.id }}" class="link">
    <span class="glyphicon glyphicon-link"></span> Link
  </a>
  <a href="https://twitter.com/share?related=OpenHouseNS%3Aopenhousens.ca&amp;url={{ request.build_absolute_uri|urlencode }}%23s{{speech.id}}&amp;text={{ speech|tweet_text }}&amp;via=OpenHouseNS" class="twitter">
    <img src="{% static 'img/twitter.png' %}" width="20" height="16" alt=""> Tweet
  </a>
</div>
{% endif %}