{% load firstof url from future %}
{% load staticfiles speech_utils %}

{% if speech.speaker %}
{% if speech.speaker.image %}<img src="{{ speech.speaker.image }}" alt="">{% endif %}

<a href="{% url 'speeches:speaker-view' speech.speaker.slug %}">
  {% firstof speech.speaker_display speech.speaker %}
</a>
{% endif %}

{{ speech.text|bleach }}

<a title="Link in context" href="{% if section %}{% url 'legislature:section-view' section.slug %}{% else %}{% url 'legislature:section-view' speech.section.slug %}{% endif %}#s{{ speech.id }}"><i class="speech-icon icon-link-in-context"></i>Link in context</a>
