{% extends 'speeches/base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}

<div class="container-fluid" id="about">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>About this site</h1>

      <p>OpenHouseNS helps you track what's said in the Nova Scotia House of Assembly. Important decisions are made in our legislature, and we want to make it easier for Nova Scotians to know what's happening.</p>
      <p>OpenHouseNS is not meant to substitute for the <a href="http://nslegislature.ca/">legislature's website</a>. This pilot focuses on making the <a href="{% url 'legislature:section-list' %}">debates of the House of Assembly</a> easier to search and browse. Among other planned features, we would like to allow you to subscribe to email alerts, so that you can be notified when a bill changes status, when you can <a href="http://nslegislature.ca/index.php/get-involved/submissions_faq/">give input on bills</a> to committees, when your MLA speaks, or when issues you care about are discussed in the House.</p>
      <p>OpenHouseNS is <a href="https://github.com/opennorth/openhousens.ca">open source</a>. All debates are available as <a href="https://github.com/opennorth/openhousens.ca/tree/master/akoma_ntoso">open data</a> in the <a href="http://www.akomantoso.org/">Akoma Ntoso</a> XML format. The <a href="{% url 'legislature:speaker-list' %}">Find your MLA</a> form is powered by the <a href="http://represent.opennorth.ca/">Represent Civic Information API</a>.</p>
    </div>
  </div>

  <div class="row push-down">
    <div class="col-sm-2">
      <h2>Who We Are</h2>
    </div>
    <div class="col-sm-10 col-md-8">
      <p>The <img src="{% static 'img/springtide-collective.png' %}" alt="" height="25" width="25"> <a href="http://www.springtidecollective.ca/"><strong>Springtide Collective</strong></a> works to reconnect Nova Scotians with the democratic process and imagine ways of doing politics differently. In addition to offering this website, we've brought you projects like the <a href="https://www.youtube.com/watch?v=YNMAasqiv9Y&amp;index=2&amp;list=PLSNYdS2eRLX4UcOMCgfogSw5o8o6_lyXN">Three Minute Citizen video series</a>, <a href="http://www.votesmartns.ca/">VoteSmartNS.ca</a>, the <a href="http://www.springtidecollective.ca/betterpolitics/">Better Politics Awards</a> and a <a href="http://www.springtidecollective.ca/#nsyp">series of reports on youth political opinion and civic literacy</a>.</p>

      <p>OpenHouseNS was developed by <img src="{% static 'img/open-north-symbol.png' %}" alt="" height="25" width="25"> <a href="http://www.opennorth.ca/"><strong>Open North</strong></a>, a nonprofit that builds digital tools for government transparency and civic participation across Canada. <a href="http://opennorth.ca/work/">Learn more about their work.</a></p>

      <p>Funding for the initial development of OpenHouseNS was provided by the <a href="http://nslegislature.ca/index.php/about/history/democracy_250/">Democracy 250</a> Youth Engagement Legacy Trust. Help maintain and curate the site by <a href="http://www.springtidecollective.ca/donate/">making a donation to Springtide Collective</a>.</p>

      <p>Interested in having your company or organization be a <strong>sustaining sponsor</strong> of OpenHouseNS? <a href="mailto:mark@springtidecollective.ca">Get in touch.</a></p>
    </div>
</div>
{% endblock %}
