{% extends 'speeches/base.html' %}
{% load url from future %}
{% load staticfiles legislature_extras %}

{% block title %}Bill No. {{ bill.identifier }} {{ bill.title }}{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" href="http://nslegislature.ca/index.php/proceedings/rss_2.0/{{ bill.slug }}">
{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}

<div class="container-fluid" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <header>
        <h1 itemprop="name">Bill No. {{ bill.identifier }}</h1>
        <p class="title" itemprop="alternateName">{{ bill.title }}</p>
{% if bill.description %}
        <p class="subtitle" itemprop="description">{{ bill.description }}</p>
{% endif %}
        <p>
          Subscribe to this <a href="http://nslegislature.ca/index.php/proceedings/rss_2.0/{{ bill.slug }}">RSS feed</a> to track changes to the bill's status.
{% if bill.classification == 'Public Bills' %}
          This is a <a href="http://nslegislature.ca/index.php/proceedings/types-of-bills/" target="_blank">public bill</a>, meaning it applies to the whole province and all its citizens. Public bills are either introduced by the government's cabinet ministers as government bills or by members as private members' bills.
{% elif bill.classification == 'Private and Local Bills' %}
          This is a <a href="http://nslegislature.ca/index.php/proceedings/types-of-bills/" target="_blank">private or local bill</a>, meaning it applies to only part of the province or only some of its citizens and corporations.
{% endif %}
          (The <a itemprop="url" href="{{ bill.url }}">original version</a> is on the legislature's site.)
        </p>
      </header>
    </div>
  </div>

{% if bill.creator %}
  <div class="row push-down">
    <div class="col-sm-2">
      <h2>Sponsor</h2>
    </div>
    <div class="col-sm-10 col-md-8" itemprop="creator" itemscope itemtype="http://schema.org/Person">
      <a href="{% url 'legislature:speaker-view' bill.creator.slug %}">
        <strong itemprop="name">{{ bill.creator.name|person_name }}</strong>
      </a>
      <span class="swatch {{ bill.creator|speaker_party_class }}" title="{{ bill.creator|speaker_party_name }}"></span>
    </div>
  </div>
{% endif %}

  <div class="row push-down">
    <div class="col-sm-2">
      <h2>Updates</h2>
    </div>
    <div class="col-sm-10 col-md-8">
      <dl class="dl-horizontal">
{% for action in bill.actions %}
  {% if action.description != "Meeting Date(s)" %}
        <dt{{ action.description|bill_action_html_attributes }}>
          {{ action.description }}
        </dt>
        <dd>
    {% if action.description == "Law Amendments Committee" %}
          <a href="{{ bill.law_amendments_committee_submissions_url }}" target="_blank">Public input <span class="glyphicon glyphicon-new-window"></span></a>
    {% elif action.text %}
          {{ action.text }}
    {% elif action.description == "Commencement" %}
          {{ action.date|date:"F j, Y" }}
    {% else %}
          <a href="{% url 'legislature:haystack_search' %}?q=Bill%20{{ bill.identifier }}%20start_date%3A{{ action.date|date:"Y-m-d" }}">{{ action.date|date:"F j, Y" }}</a>
    {% endif %}
        </dd>
  {% endif %}
{% endfor %}
      </dl>
    </div>
  </div>
{% endblock %}
