{% extends 'speeches/base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Bills{% endblock %}

{% block js %}
<script src="{% static 'js/plugins/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.tablesorter.widgets.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>Bills</h1>

      <form class="form-filter" role="form">
        <input type="search" data-column="1" class="form-control" placeholder="Search bills">
      </form>
    </div>
  </div>

{% regroup object_list by get_status_display as status_list %}
{% for status in status_list %}
  <div class="row{% if not forloop.first %} push-down{% endif %}">
    <div class="col-sm-2">
      <h2>{{ status.grouper }}</h2>
    </div>
    <div class="col-sm-10 col-md-8">
      <table class="tablesorter">
        <thead class="hidden-xs">
          <tr>
            <th class="header-number">
              Number
              <span class="glyphicon glyphicon-chevron-down"></span>
              <span class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th class="headerSortDown">
              Title
              <span class="glyphicon glyphicon-chevron-down"></span>
              <span class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th class="header-date">
              Date
              <span class="glyphicon glyphicon-chevron-down"></span>
              <span class="glyphicon glyphicon-chevron-up"></span>
            </th>
          </tr>
        </thead>
        <tbody>
  {% for bill in status.list %}
          <tr itemscope itemtype="http://schema.org/CreativeWork">
            <td class="hidden-xs">{{ bill.identifier }}</td>
            <td><a href="{% url 'legislature:bill-view' bill.slug %}"><span itemprop="alternateName">{{ bill.title }}</span></a></td>
            <td class="hidden-xs modified"><time itemprop="dateModified" datetime="{{ bill.modified|date:"Y-m-d" }}">{{ bill.modified|date:"F j, Y" }}</time></td>
          </tr>
  {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
