{% extends 'speeches/base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Bills{% endblock %}

{% block js %}
<script src="{% static 'js/plugins/jquery.tablesorter.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include "speeches/_breadcrumbs.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>Bills</h1>
    </div>
  </div>

{% regroup object_list by get_status_display as status_list %}
{% for status in status_list %}
  <div class="row{% if not forloop.first %} push-down{% endif %}">
    <div class="col-sm-2">
      <h2>{{ status.grouper }}</h2>
    </div>
    <div class="col-sm-10 col-md-8">
      <table class="tablesorter">
        <thead class="hidden-xs">
          <tr>
            <th>
              Number
              <span class="glyphicon glyphicon-chevron-up"></span>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </th>
            <th class="headerSortDown">
              Title
              <span class="glyphicon glyphicon-chevron-up"></span>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </th>
            <th>
              Date
              <span class="glyphicon glyphicon-chevron-up"></span>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </th>
          </tr>
        </thead>
        <tbody>
  {% for bill in status.list %}
          <tr>
            <td class="hidden-xs">{{ bill.identifier }}</td>
            <td><a href="{% url 'legislature:bill-view' bill.slug %}">{{ bill.title }}</a></td>
            <td class="hidden-xs modified" data-modified="{{ bill.date|date:"Y-m-d" }}">{{ bill.date|date:"F j, Y" }}</td>
          </tr>
  {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
