{% extends 'speeches/base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}

<div class="container-fluid" id="about">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>Support OpenHouseNS.ca</h1>
<p>
    The development of the OpenHouseNS site was kick-started by our friends at the Democracy 250 Trust Fund in 2013, but there is no longer a dedicated revenue stream to
    support the ongoing hosting costs and maintenance of the site.
</p>
<div>
    <br/>
</div>
<div>
    If it's your first time to the site, and you plan to be coming back, we encourage you to make a small donation to help us keep things running smooth. If
    you're a regular visitor, we invite you to do the same.
</div>
<div>
    <br/>
</div>
<div>
    The OpenHouseNS site is managed by the Springtide Collective, a registered charity, and can provide tax receipts for donations.
</div>
<div>
    <p>
        <strong>Please donate what you can today.</strong>
    </p>
    <p>
        <a href="https://springtide.nationbuilder.com/openhousensdonate1"><strong>Make a one-time donation</strong></a>
        <strong> | </strong>
        <strong><a href="https://springtide.nationbuilder.com/openhousensdonatex">Donate a small amount each month</a></strong>
    </p>
</div>

<p>If you'd prefer to make a donation by cash or cheque, you can do so by mail:</p> 
<p>Springtide Collective </p>
<p>5553 Bloomfield Street </p>
<p>Halifax, Nova Scotia | B3K 1S7 </p>
<p>902.989.3668</p>
    </div>
  </div>
</div>
{% endblock %}
