{% extends 'speeches/base.html' %}
{% load url from future %}

{% block title %}Your Window into Province House{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container-fluid">
    <h1>Easily track what's said in Nova Scotia's Legislature</h1>
  </div>
</div>

<div class="container-fluid home">
  <p class="lead">Important decisions are made in our legislature.</p>
  <p class="lead">We make it easy for Nova Scotians to know what's happening.</p>

  <form action="{% url 'legislature:haystack_search' %}" method="get" class="form-inline" role="form">
    <div class="form-group form-group-lg">
      <label class="sr-only" for="q">Enter a bill, keyword or name</label>
      <input name="q" id="q" type="search" class="form-control input-lg" placeholder="Enter a bill, keyword or name">
    </div>
    <button type="submit" class="btn btn-default btn-lg">Search</button>
  </form>

  <p class="latest"> Help keep OpenHouseNS <i>open</i>: <a href="https://springtide.nationbuilder.com/openhousensdonate1"><strong>make a small donation</strong></a> to keep this site running</a></p>

{% if hansard %}
  <p class="latest">The latest transcript is from:  <a href="{% url 'legislature:section-view' hansard.slug %}"><strong>{{ hansard.start_date }}</strong></a></p>
{% endif %}

<script>var most_common_words = {{ most_common_words | safe }};</script>
<div class="wordcloud"></div>
</div>
{% endblock %}
