{% extends 'speeches/base.html' %}
{% load url from future %}
{% load legislature_extras pagination %}

{% block title %}Debates of {{ section.start_date|date:"F jS, Y" }}{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}
{% long_paginator as pagination %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>Debates of {{ section.start_date|date:"F jS, Y" }}</h1>

      <p>House of Assembly Hansard {{ section.number }} of the {{ section.legislature }}, {{ section.session }}. (The <a href="{{ section.source_url }}">original version</a> is on the legislature's site.)</p>
    </div>
  </div>


  <div class="row hidden-xs">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
{{ pagination }}
    </div>
  </div>

  <div class="speeches">
{% for speech in object_list %}
    <div class="row row-speech {{ speech|speech_class }}">
      <div class="col-sm-2 col-meta hidden-xs">
  {% if speech.speaker_display %}
    {% if speech.section.parent.parent_id %}
        <div class="heading-level-1">{{ speech.section.parent.title|heading }}</div>
        <div class="heading-level-2">{{ speech.section.title|heading }}</div>
      {% if speech.title %}
        <div class="heading-level-3">{{ speech.title|heading }}</div>
      {% endif %}
    {% elif speech.section.parent_id %}
        <div class="heading-level-1">{{ speech.section.title|heading }}</div>
      {% if speech.title %}
        <div class="heading-level-2">{{ speech.title|heading }}</div>
      {% endif %}
    {% endif %}
  {% endif %}
      </div>
      <div class="col-sm-10 col-speech" id="s{{ speech.id }}">
{% include "speeches/speech.html" with speech=speech with_speaker=1 %}
      </div>
    </div>
{% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
{{ pagination }}
    </div>
  </div>
</div>
{% endblock %}
