{% extends 'speeches/base.html' %}
{% load url from future %}

{% block title %}Debates{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>The Debates of the House of Assembly</h1>

      <p>When the House is in session, every word spoken by a member is faithfully transcribed and published in a document called a <a href="http://en.wikipedia.org/wiki/Hansard">Hansard</a>. We've made the transcripts since October 31, 2011 easily searchable and browseable. If you need to go further back, consult the <a href="http://nslegislature.ca/index.php/proceedings/hansard/">website of the Nova Scotia Legislature</a>.</p>

      <form action="{% url 'legislature:haystack_search' %}" method="get" class="form-inline form-inline-always" role="form">
        <div class="form-group">
          <label class="sr-only" for="q">Enter a bill, keyword or name</label>
          <input name="q" id="q" type="search" class="form-control" placeholder="Enter a bill, keyword or name">
        </div>
        <button type="submit" class="btn btn-default">
          <span class="hidden-xs">Search</span>
          <span class="visible-xs-inline">
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </button>
      </form>
    </div>
  </div>

  <div class="row push-down">
    <div class="col-sm-2">
      <h2>Recent</h2>
    </div>
    <div class="col-sm-10 col-md-8">
      <ul class="list-inline">
        {% for hansard in latest|slice:":16" %}<li>
          <a href="{% url 'legislature:section-view' hansard.slug %}">{{ hansard.start_date|date:"F jS" }}</a>
        </li>{% endfor %}
      </ul>
    </div>
  </div>

  <div class="row push-down">
    <div class="col-sm-2">
      <h2>Past</h2>
    </div>
    <div class="col-sm-10 col-md-8">
      <ul class="list-inline">
        {% for year in date_list %}<li>
          <a href="{% url 'legislature:section-list-by-year' year=year.year %}">{{ year.year }}</a>
        </li>{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
