{% extends 'speeches/base.html' %}
{% load url from future %}
{% load legislature_extras pagination %}

{% block title %}{{ speaker.name|person_name }}{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}
{% long_paginator as pagination %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>{{ speaker.name|person_name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
{% if speaker.image %}
      <figure>
        <img src="{{ speaker.image }}" alt="">
        <figcaption>Nova Scotia Legislature photo</figcaption>
      </figure>
{% endif %}
{% if speaker.email %}
      <p class="contact">
        <a href="mailto:{{ speaker.email }}">
          Email {{ speaker.name|person_short_name }}
        </a>
      </p>
{% endif %}
{% if speaker.sources.all %}
      <p class="hidden-xs">
        <a href="{{ speaker.sources.all.0.url }}">
          On the legislature's site
        </a>
      </p>
{% endif %}
    </div>
    <div class="col-sm-10 col-md-8">
{% if speaker.memberships.all %}
      <p class="memberships">{{ speaker|speaker_description }}</p>
{% endif %}

      <form action="{% url 'legislature:haystack_search' %}" method="get" class="form-inline form-inline-always" role="form">
        <div class="form-group">
          <label class="sr-only" for="q">Enter a bill, keyword or name</label>
          <input name="q" id="q" type="search" class="form-control" placeholder="Search {{ speaker.name|person_short_name }}'s speeches">
        </div>
        <button type="submit" class="btn btn-default">
          <span class="hidden-xs">Search</span>
          <span class="visible-xs-inline">
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </button>
        <input type="hidden" name="p" value="{{ speaker.id }}">
      </form>

      <div class="hidden-xs">
{{ pagination }}
      </div>

{% for speech in object_list %}
      <div class="col-speech col-speech-with-border">
{% include 'speeches/speech.html' with speech=speech truncate=1 %}
      </div>
{% endfor %}

{{ pagination }}
    </div>
  </div>
</div>
{% endblock %}
