{% extends 'speeches/base.html' %}
{% load url from future %}
{% load legislature_extras %}

{% block title %}Members of the Legislative Assembly{% endblock %}

{% block content %}
{% include "speeches/_breadcrumbs.html" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>Members of the House of Assembly</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <h2>Current</h2>
    </div>
    <div class="col-sm-10 col-md-8">
      <ul class="list-inline">
        {% for speaker in speaker_list %}<li>
          <a href="{% url 'legislature:speaker-view' speaker.slug %}">
            <div class="avatar avatar-small" style="background-image: url({{ speaker.image }})"></div>
          </a>
          <a href="{% url 'legislature:speaker-view' speaker.slug %}">
            {{ speaker.name }}
          </a>
        </li>{% endfor %}
      </ul>
    </div>
  </div>

  <div class="row push-down">
    <div class="col-sm-2">
      <h2>Former</h2>
    </div>
    <div class="col-sm-10 col-md-8">
      <ul class="list-inline">
        {% for speaker in former_list %}<li>
          <a href="{% url 'legislature:speaker-view' speaker.slug %}">
            {{ speaker.name|person_name }}
          </a>
        </li>{% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
