{% extends 'speeches/base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}
{% include 'speeches/_breadcrumbs.html' %}

<div class="container-fluid" id="about">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-sm-offset-2">
      <h1>Volunteers Wanted: Content Curators</h1>
<p>
    We're looking for people who are interested in reviewing the business of the legislature from the previous day on OpenHouseNS.ca and then writing social
    media content about what happened and scheduling it through our <a href="http://www.twitter.com/openhousens">social media channels</a>. If you're
    interested in following politics more closely in Nova Scotia, and know your way around twitter and facebook, we'd love to have you join the OpenHouseNS
    team. Learn more and <a href=http://springtide.nationbuilder.com/openhouse>sign up here.</a></p>
  </div>
  </div>
  </div>
</div>
{% endblock %}
